[Unit]
Description=LAF - Linux Application Firewall allows only communications made from allowed processes

[Service]
Type=oneshot
ExecStartPre=/usr/bin/lafctl -u -f /etc/laf.cfg
ExecStart=/usr/bin/lafd
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=1

[Install]
WantedBy="networking.service"
